<h3>{{ title }}</h3>

<h4>Steps</h4>
<ul>
    <li> create your project folder </li>
    <li> initialize npm which will create a 'package.json' file in your project directory </li>
    <li>install express</li>
    <li>install express-handlebars</li>
</ul>
<hr>
<img src="/images/hello.png" alt="" width="1200" height="600">